body{
background: linear-gradient(135deg,#0b1c3d,#1e3c72);
font-family: Arial;
color:white;
text-align:center;
margin:0;
}

.container{
padding:40px;
}

.logo{
width:180px;
height:180px;
background:white;
padding:20px;
border-radius:20px;
}

.options{
display:grid;
grid-template-columns:repeat(2,250px);
gap:15px;
justify-content:center;
margin-top:30px;
}

.option-btn{
padding:15px;
font-size:16px;
border:none;
border-radius:10px;
cursor:pointer;
background:black;
transition:0.3s;
}

.option-btn:hover{
background:gold;
transform:scale(1.05);
}